
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface:300|Open+Sans:300');
@import 'variables';

h1 {
  font: {
    family: ' Dala Floda Web, Times, "Times New Roman", serif';
    size: 40px;
  }
}


 a, div, button {
  font: {
    family: 'Open Sans', sans-serif;
    size: 16px;
  }
  text-decoration: none;
  p {
    font: {
      font-family: "Lora", serif;
      font-size: 11px;
    }
  }
}

body {
  background: #fff;
  
}