.main_header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    width: 100vw;
    height:100px;
    // margin-left: 2px;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #fff;

}

#home_link{
    width: 140px;
    height: 45.41px;
}
// .cart_btn{

// }