.main_header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    width: 95vw;
    height:100px;
}

#home_link{
    width: 140px;
    height: 45.41px;
}
// .cart_btn{

// }