.home_main {
  /* width: 375px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  img{
    width: 95vw;
    position: relative;
    margin-top: 100px;
  }
 
}
.panel_1 {
height: 75vh;
}
// .at_sundance {
//   position: relative;
//   z-index: 2;
//     top: -46vh;
//     left: 6vw;
// }
.header_1{
  // font-family: "Lora", serif;
	width: 284px;
	height: 106px;
	font-size: 60px;
	font-weight: 700;
  color: rgb(249, 251, 252);
  position: relative;
  z-index: 2;
    top: -300px;
    left: 25px;
}
.sundance_quote {
  font-family: "Lora", serif;
  width: 284px;
  height: 90px;
  font-size: 11px;
  line-height: 1.4;
  color: rgb(249, 251, 252);
  position: relative;
  z-index: 2;
    top: -42vh;
    left: 6vw;
}
.hours_btn{
  color: white;
  background: #212121;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  z-index: 2;
  top: -39vh;
  left: 6vw;
  border: none;
  font-size: 11px;
  padding: 12px;
  letter-spacing: 0.06em;
}
.h2_home{
  position: relative;
  z-index: 2;
  top: -169px;
  left: 25px;
  font-family: 'Dala Floda Web;'
}
.explore_button{
  color: #212121;
  background: #c5b8af;
  position: relative;
  z-index: 2;
  top: -160px;
  left: 25px;
  font-size: 11px;
  padding: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.06em;
  border: none;
}
.panel_medium {
  width: 95vw;
  height: 45vh;
  img{
  // width: 95vw;
  // height: 45vh;
  position: relative;
  margin-top: 100px;
  }
  color: rgb(249, 251, 252);
  margin-top: 45px;
  // margin-bottom: 6px;
}
// .mountain_reservation{
//   position: relative;
//   z-index: 2;
//   top: -31vh;
//   left: 6vw;
// }

.upcoming_events{
width: 95vw;
height: 28vh;
background-color: rgb(87, 87, 116);
}

