.home_main{
    /* width: 375px; */
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.at_sundance {
	font-family: Dala Floda Web,Times,"Times New Roman",serif;

}

.paragraph_tags{
	font-family: 'Lora', serif;
}