.store_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 95vw;
    }
}
.first_two{
    width: 95vw;
    // height: 40vh;
}

.last_three{
    width: 95vw;

}